<!--
File: _payments.html.erb
Purpouse: Page for show payments informations
License: GPL v3
Pesquini Group 6.
FGA - UnB Faculdade de Engenharias do Gama - University of Brasilia.
-->

<div class =" lowercase-letter">

  <% @payments.each_with_index do |payment, index| %>

    <h4><b><div class= "index_number">
      <%= @page_num*@per_page + index +1%>
    </div></b></h4>
    <h4> <b>Identifier: </b> <%= payment.identifier %> </h4>
    <h4> <b>Process Number: </b> <%= payment.process_number %> </h4>
    <h4> <b>Initial Value: </b> <%= number_to_currency(payment.initial_value, unit: "R$ ", separator: ",", delimiter: ".")%> </h4>
    <h4> <b>Sign Date Payment: </b> <%= payment.sign_date.strftime("%m/%d/%Y") %> </h4>
    <h4> <b>Start Date Payment: </b> <%= payment.start_date.strftime("%m/%d/%Y") %> </h4>
    <h4> <b>End Date Payment: </b> <%= payment.end_date.strftime("%m/%d/%Y") %> </h4>
    <hr align="left">

  <% end %>

  <% if @payments_per_page.empty? %>
    <h3> Data on payments not informed </h3>
  <% end %>

  <%= will_paginate @payments_per_page,  renderer: BootstrapPagination::Rails %>

</div>
